@charset "utf-8";
body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 0px;
	background-color: #FFFFFF;
}
#intro{
overflow:hidden;

}

table{
	background-color:#909EAD;
}
#container{
	background-color:#FFF;
}
.btnOk {
	cursor:pointer;
}
.boxShow{
	-webkit-animation:myMove 5s infinite; /* Chrome, Safari, Opera */
	animation:myMove 5s  infinite;
	width:920px;
	height:500px;
	background-color:#CCC;
	cursor:pointer;
	position:relative;
	animation:myMove 3s;
	animation-duration:1s;
	/* Firefox */
	-moz-animation:myMove 3s;
	-moz-animation-duration:1s;
	/* Safari and Chrome */
	-webkit-animation:myMove 3s;
	-webkit-animation-duration:1s;
	/* Opera */
	-o-animation:myMove 3s;
	-o-animation-duration:1s;
}
@-webkit-keyframes myMove
{
from {left:950px;}
to {left:0px;}
}

/* Standard syntax */
@keyframes myMove
{
from {left:950px;}
to {left:0px;}
}