@charset "utf-8";
@media screen and (max-width: 1920px) {
	.menuInfo{
		
		background-color:#0C6;
		width:950;
	}
	.rightMenu{
		
		top:0px;
		left:228px;
		background-color:#808080;
		vertical-align:middle;
		font-size:12px;
		color:#FFF;
		width:700px;
		height:120px;
		float:right;
		
	}
	.leftMenu{
		
		top:0px;
		left:0px;
		width:228px;
		float::left;
	}
}

@media screen and (min-width: 720px) {
	.rightMenu{

	}
	.leftMenu{

	}
}

@media screen and (min-width: 320px) {
	.rightMenu{

	}
	.leftMenu{

	}
}
