@mixin menu-content($rightMenu,$centerLeft,$visor){
	
	.menuInfo{
		width:970px;
		height:$visor;
		overflow-y:scroll;
		
		
		.container{
			padding-left: $centerLeft;
			top:0px;
			width:950px;
			height:120px;
			.leftMenu{
				left:0px;
				width:228px;
				height:120px;
				float::left;
				border-bottom-width: thin;
				border-bottom-style: inset;
				border-bottom-color: #FFF;
				input{
					pointer-events: none !important;
				}
			}

		}
		.rightMenu{
			visibility: $rightMenu;
			display: block;
			cursor: pointer;
			padding-top: 60px;
			text-align: center;
			background-color: #909EAD;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			font-size: 12px;
			color: #FFF;
			width: 710px;
			height: 60px;
			float: right;
			border-bottom-width: thin;
			border-bottom-style: inset;
			border-bottom-color: #FFF;
		
			&:hover{
				font-size: 16px;
				background-color: #6C9ACB;
				box-shadow: 
				inset 0 0 0 16px rgba(255,255,255,0.1),
				0 1px 2px rgba(0,0,0,0.1);
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
			}
			&:hover + .leftMenu input {
				cursor: pointer;
				border-radius: 12px;
				-webkit-box-shadow: 9px -2px 11px 6px rgba(186,222,242,0.59);
				-moz-box-shadow: 9px -2px 11px 6px rgba(186,222,242,0.59);
				box-shadow: 9px -2px 11px 6px rgba(186,222,242,0.59);
				transform: perspective( 600px );
			}
		
			.imageClick{
				pointer-events: none;
				font-size: 10px; 
				font-style: italic; 
				color:aqua;
				display: none;
			}
			&:hover .imageClick{
				pointer-events: none;
				display: block;
			}
		}
	}
	
}






